<header class="header">

    <div class="navbar">

        <div class="logo">
            <a href="#"><img src="./static/images/logo.png" width="160px" height="30px" alt="logo"></a>
        </div>
        <div class="navlist" data-navbar>
            <ul class="sidebar">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
            <button 
                class="nav-toggle-btn icon-btn"
                aria-label="toggle navbar"
                data-nav-toggler
            >
            <span class="material-symbols-rounded close" aria-hidden="true"><img src="./static/images/xmark-solid.svg" width="20" height="26" alt="closebtn"></span>
            <span class="material-symbols-rounded open" aria-hidden="true"><img src="./static/images/bars-solid.svg" width="20" height="26" alt="menubtn"></span>        
            </button>
        </div>


    </div>

</header>