<div class="posts grid-span-2 grid-span-3">
    {% for post in posts %}
    <div class="post post-1">

        <div class="image">
            <p>850 x 350</p>
        </div>

        <div class="post-cont">
            <p>{{ post['date'] }}</p>
            <h2>{{ post['title'] }}</h2>
            <p>{{ post['content'] }}</p>
            <button class="post-btn" type="button"><span>Read More</span></button>
        </div>
    </div>
    {% endfor %}      
    <!-- <div class="post post-2">

        <div class="image">
            <p>850 x 350</p>
        </div>

        <div class="post-cont">
            <p>January 1,2023</p>
            <h1>Featured Post Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, 
                nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita 
                corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
            <button type="button"><span>Read More</span></button>
        </div>
    </div>
    <div class="post post-3">

        <div class="image">
            <p>850 x 350</p>
        </div>
  
        <div class="post-cont">
            <p>January 1,2023</p>
            <h1>Featured Post Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, 
                nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita 
                corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
            <button class="post-btn" type="button"><span>Read More</span></button>
        </div>
    </div>

    <div class="post post-3">

        <div class="image">
            <p>850 x 350</p>
        </div>

        <div class="post-cont">
            <p>January 1,2023</p>
            <h1>Featured Post Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, 
                nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita 
                corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
            <button class="post-btn" type="button"><span>Read More</span></button>
        </div>
    </div> -->

</div>
